<div class="container home-page d-flex justify-content-around align-items-center">
  <div class="title">
    <h1>La nouvelle façon de<br> faire les Jeux de Noël</h1>
    <h2>2020, virage numérique</h2>
  </div>

  <div>
    <video width="450" height="250" autoplay controls>
      <source src="<%= asset_path('video.mp4')%>" type="video/mp4">
      Your browser does not support this video.
    </video>
  </div>
</div>