<div class="container home-page d-flex justify-content-around align-items-center">
  <div class="title">
    <h1>La nouvelle façon de<br> faire les Jeux de Noël</h1>
    <h2>2020, virage numérique</h2>
  </div>

  <div class="card-jdn">
    <%= image_tag "https://images.unsplash.com/photo-1518888732246-9f52469bfa65?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=80" %>
  </div>
</div>