.btn {
  border-radius: 50%;
}

.btn-jdn {
  color: $frost;
  background-color: $mblue;
  transition: 0.4s;

  &:hover {
    background-color: $dblue;
    color: $frost;
  }
}

.btn-ticket {
  margin-left: 16px;
}