.navbar-lewagon {
  justify-content: space-between;
  background: white;
  i {
    font-size: 20px;
    color: $lblue;
    transition: 0.5s;
  }
  i:hover {
    color: $dblue;
  }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
